* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.project-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
    ;
}

.sidebar-container {
    grid-area: sidebar;
    background-color: aqua;
}

.header-container {
    grid-area: header;
    background-color: beige;
}

.main-container {
    grid-area: main;
    background-color: chocolate;
}