* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.project-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
    ;
}

/* ------ SIDE BAR ------ */
.sidebar-container {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 5fr;
    grid-template-areas: 
        "logo"
        "nav"
        "settings"
    ;
    background-color: #007FFF;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.logo p {
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 20px;
    
}

.company-icon {
    height: 50px;
    fill: #fff;
}

.sidebar-icons {
    height: 25px;
    fill: #fff;
}

.sidebar-text {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 35px;
}

.nav,
.settings {
    padding-left: 40px;
}

.nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.nav li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.settings {
    grid-area: settings;
    padding-top: 30px;
}

.settings li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

/* ------ HEADER ------ */
.header-container {
    grid-area: header;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas: 
        "search  account"
        "user account-btns"
    ;
}

.search {
    grid-area: search;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

#search-field {
    margin-left: 20px;
    border-radius: 20px;
    border: none;
    background-color: #e2e8f0;
    height: 30px;
    width: 700px;
    padding-left: 15px;
}

.account {
    grid-area: account;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 80px;
}

.account-img,
.account-text {
    margin-left: 30px;
}

.icon {
    height: 25px;
    cursor: pointer;
}

.account-img {
    height: 50px;
    border-radius: 50%;
}

.account-text {
    font-size: 1.2rem;
    font-weight: bold;
}

.user {
    grid-area: user;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.user-img {
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-text p {
    font-size: 1.5rem;
    font-weight: bold;
}

.user-text p:first-of-type {
    font-size: 1rem;
}

.account-btns {
    grid-area: account-btns;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
}

.account-btns .btn {
    background-color: #007FFF;
    border: none;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 700;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 30px;
}


/* ------ MAIN ------ */
.main-container {
    grid-area: main;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending"
    ;
}

.projects {
    grid-area: projects;
}

.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.project-card {
    height: 200px;
}

.announcements {
    grid-area: announcements;
    background-color: crimson;
}

.trending {
    grid-area: trending;
    background-color: darkgray;
}