* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.project-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
    ;
}

/* ------ SIDE BAR ------ */
.sidebar-container {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 5fr;
    grid-template-areas: 
        "logo"
        "nav"
        "settings"
    ;
    background-color: blue;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

.logo p {
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
}

.company-icon {
    height: 50px;
    fill: #fff;
}

.sidebar-icons {
    height: 25px;
    fill: #fff;
}

.sidebar-text {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 20px;
}

.nav,
.settings {
    padding-left: 40px;
}

.nav {
    grid-area: nav;
    display: flex;
    align-items: center;
}

.nav li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.settings {
    grid-area: settings;
}

.settings li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

/* ------ HEADER ------ */
.header-container {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "search  account"
        "user account-btns"
    ;
}

.search {
    grid-area: search;
    background-color: burlywood;
}

.account {
    grid-area: account;
    background-color: cadetblue;
}

.user {
    grid-area: user;
    background-color: chartreuse;
}

.account-btns {
    grid-area: account-btns;
    background-color: chocolate;
}


/* ------ MAIN ------ */
.main-container {
    grid-area: main;
    background-color: beige;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending"
    ;
}

.projects {
    grid-area: projects;
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.announcements {
    grid-area: announcements;
    background-color: crimson;
}

.trending {
    grid-area: trending;
    background-color: darkgray;
}