:root {
    --main-color: #0ea5e9;
}

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

p {
    display: inline;
}

.container {
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
    ;
}

/* -----  SIDEBAR  ----- */
.sidebar-container {
    background-color: var(--main-color);
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 5fr;
    grid-template-areas: 
        "brand"
        "nav"
        "setting"
    ;
    gap: 20px;
}

.sidebar-icons {
    height: 25px;
    fill: #fff;
    margin: 0 20px 0 35px;
}

.sidebar-links {
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
}

.sidebar-brand {
    grid-area: brand;
    background-color: var(--main-color);
    display: flex;
    align-items: center;   
}

.sidebar-brand-icon {
    height: 50px;
    fill: #fff;
    margin: 0 10px 0 20px;
}

.brand-heading {
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
}

.sidebar-nav li,
.sidebar-setting li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-nav {
    grid-area: nav;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
}

.sidebar-setting {
    grid-area: setting;
    background-color: var(--main-color);
    display: flex;
}

/* -----  HEADER  ----- */
.header-container {
    background-color: #fff;
    grid-area: header;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas: 
        "search account"
        "user buttons"
    ;
}

.header-searchbar {
    grid-area: search;
    background-color: beige;
}

.header-user-acc {
    grid-area: account;
    background-color: burlywood;
}

.header-user {
    grid-area: user;
    background-color: firebrick;
}

.header-buttons {
    grid-area: buttons;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 90px;
    height: 35px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-right: 20px;
    font-size: 0.9rem;
}


/* -----  MAIN  ----- */
.main-content-container {
    background-color: coral;
    grid-area: main;
}