* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

p {
    display: inline;
}

.container {
    display:grid;
    height: 100vh;
    grid-template-columns: 1.1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
    ;
}

/* -----  SIDEBAR  ----- */
.sidebar-container {
    background-color: rgb(9, 108, 221);
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 5fr;
    grid-template-areas: 
        "brand"
        "nav"
        "setting"
    ;
    gap: 20px;
}

.sidebar-icons {
    height: 25px;
    fill: #fff;
    margin: 0 20px 0 35px;
}

.sidebar-links {
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
}

.sidebar-brand {
    grid-area: brand;
    background-color: rgb(9, 108, 221);
    display: flex;
    align-items: center;   
}

.sidebar-brand-icon {
    height: 50px;
    fill: #fff;
    margin: 0 10px 0 20px;
}

.brand-heading {
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
}

.sidebar-nav {
    grid-area: nav;
    background-color: rgb(9, 108, 221);
    display: flex;
    align-items: center;
}

.sidebar-nav li,
.sidebar-setting li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-setting {
    grid-area: setting;
    background-color: rgb(9, 108, 221);
    display: flex;
}

/* -----  HEADER  ----- */
.header-container {
    background-color: cornflowerblue;
    grid-area: header;
}

/* -----  MAIN  ----- */
.main-content-container {
    background-color: coral;
    grid-area: main;
}